/*-----------------------[ 1.Default CSS ]------------------------*/
:root {
  font-size: 100%;
  --background-black-primary: #191919;
  --background-black-secondary: #202020;
  --text-black-primary: #d4d4d4;
  --text-black-secondary: #9b9b9b;
  --text-black-fade: #50503d;

  --background-white-primary: #ffffff;
  --background-white-secondary: #f7f7f5;
  --text-white-primary: #37352f;
  --text-white-secondary: #5f5e5b;
  --text-white-fade: #9b9a97;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-black-primary);
  color: var(--text-black-primary);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.teste {
  background-color: aqua;
}

/*-----------------------[ 2.Side Bar CSS ]------------------------*/
.add-button {
  background-color: transparent; /* Transparent background */
  color: #d0342c; /* White text */
  border: none; /* No border */
  text-align: left; /* Center the text */
  text-decoration: none; /* No underline */
  cursor: pointer; /* Cursor appears clickable */
  padding: 0;
}

.icon-button {
  background-color: transparent; /* Transparent background */
  color: #ffff; /* White text */
  border: none; /* No border */
  padding: 10px 20px; /* Padding around the text */
  text-align: left; /* Center the text */
  text-decoration: none; /* No underline */
  cursor: pointer; /* Cursor appears clickable */
}
.icon-button:hover,
.icon-button:active {
  background-color: var(--background-black-secondary) !important;
}
